services:
  traefik:
    image: traefik:v3.0
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
    ports:
      - "8080:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - app

  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PUID: ${UID:-1000}
        PGID: ${GID:-1000}
    working_dir: /var/www/html/app
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./:/var/www/html
      - composer-cache:/tmp/composer
    environment:
      PHP_OPCACHE_VALIDATE_TIMESTAMPS: "1"
    depends_on:
      - db
    command:
      # ["/var/www/html/app/rr", "serve", "-c", "/var/www/html/app/rr.yaml"]
      [
        "php",
        "/var/www/html/app/artisan",
        "octane:start",
        "--server=roadrunner",
        "--host=0.0.0.0",
        "--port=8000",
        "--rpc-port=6001",
        "--watch",
      ]
    expose:
      - "8000"
    labels:
      - traefik.enable=true
      - traefik.http.routers.laravel.rule=Host(`localhost`)
      - traefik.http.routers.laravel.entrypoints=web
      - traefik.http.services.laravel.loadbalancer.server.port=8000

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
  composer-cache:
